[Unit]
Description=Refresh Google Calendar cache periodically

[Timer]
OnActiveSec=30s
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
