prompt=:
icon-theme=hicolor

[colors]
background=${background_bare}ff
text=${foreground_bare}ff
match=${warning_bare}ff
selection=${surface_bare}dd
selection-text=${foreground_bare}ff
border=${accent_bare}ff

[border]

[dmenu]

[key-bindings]
