* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka";
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    min-height: 24px;
}
window#waybar {
    color: #e0e0e0;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#window {
    font-family: "Iosevka";
    color: #c0c0c0;
}

#workspaces button {
    color: #e0e0e0;
    /* round the edges */
    border-radius: 100px;
}

#workspaces button:hover {
}

#workspaces button.active {
    background-color: rgba(100, 100, 100, 0.5);
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: rgb(110, 00, 00);
    color: #ffffff;
}

#mode {
    background: rgba(80, 80, 80, 0.5);
    border-bottom: 3px solid #a0a0a0;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode {
    padding: 0 3px;
    margin: 0 1px;
}


#bluetooth {
    padding: 2px;
    margin: 2px;
}

#custom-waybarstatus {
    padding: 2px 4px;
    color: #c0c0c0;
    background-color: rgba(50, 50, 50, 0.7);
}

#battery icon {
    color: #dc143c;
}

#battery.charging {
    color: #00ff7f;
}

@keyframes blink {
    to {
	background-color: #89cff0;
	color: #003366;
    }
}

#battery.warning:not(.charging) {
    color: #dc143c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: #dc143c;
}

#pulseaudio.muted {
    color: #dc143c;
}

#pulseaudio.source-muted {
    color: #dc143c;
}

#custom-spotify {
    color: #00bfff;
}

#tray {
    color: #89cff0;
}
