* {
  border: none;
  border-radius: 0;
  font-family: "Iosevka";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  /* background: transparent; */
  color: #d9b645;
  background-color: transparent;
}

#window {
  /* font-weight: bold; */
  font-family: "Iosevka";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  background-color: transparent;
  color: #fcf2b1;
  box-shadow: 2px 0 0 1.1px #fcf2b1;
}

#workspaces button:hover {
  background: #ffffff;
}

#workspaces button.active {
  background-color: #64727d;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode {
  padding: 0 5px;
  margin: 0 2px;
}

#clock {
  color: #fcf2b1;
  background-color: #64727d;
  padding: 5px;
  margin: 5px;
  border-radius: 25px;
  box-shadow: 2px 0 0 0px #fcf2b1;
}

#battery {
}

#bluetooth {
  padding: 5px;
  /* border-radius: 25px; */
  margin: 5px;
  color: #d9b645;
  /* background-color: #64727d; */
}

#custom-waybarstatus {
  padding: 5px;
  color: #d9b645;
  background-color: #64727d;
}

#battery icon {
  color: red;
}

#battery.charging {
  color: #aaff00;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
  background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
  color: #f53c3c;
}

#pulseaudio.source-muted {
  color: #f53c3c;
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#tray {
}
