[Desktop Entry]
Name=Emacs Client
GenericName=Doer of Everything
Comment=Open this in emacs because we can
Exec=emacsclient -c %f
Icon=emacs
Type=Application
Terminal=false
Categories=Utility;TextEditor;